.scoreBoard{
    text-align: center;
    align-content: center;
    border-bottom: red solid 1px;
    border-top: red solid 1px;

}

.score{
    font-size: 30px;
    font-weight: 800;
}

.secondPart{
    text-align: center;
}

.btn:hover{
    background-color: red;
}